# Feedback file
/.feedback

# Local configuration file
/.mutablesecurity

# Forgot solutions configurations
/*.yaml

# Poetry
/.venv/
/dist/
/poetry.lock

# Python
**/__pycache__
/.mypy_cache
/.coverage

# Pyinfra
/pyinfra-sudo-askpass

# Snyk
/.dccache
