encryption_module : {{ configuration["encryption_module"] }}
compression_module : {{ configuration["compression_module"] }}
skip_files_larger_than : {{ configuration["skip_files_larger_than"] }}
exclude_files_attributes : {{ configuration["exclude_files_attributes"] }}
passphrase : {{ configuration["passphrase"] }}
backup_minute: {{ configuration["backup_minute"] }}
scan_hour: {{ configuration["scan_hour"] }}
backup_month: {{ configuration["backup_month"] }}
backup_day_of_week: {{ configuration["backup_day_of_week"] }}
backup_day_of_month: {{ configuration["backup_day_of_month"] }}