encryption_module : {{ configuration["encryption_module"] }}
compression_module : {{ configuration["compression_module"] }}
skip_files_larger_than : {{ configuration["skip_files_larger_than"] }}
exclude_files_attributes : {{ configuration["exclude_files_attributes"] }}
passphrase : {{ configuration["passphrase"] }}